<section class='d-flex mt-5 {{ .Get "direction" }}'>
  <div class="col-md-4">
    <img src='{{ .Get "app_img" }}' class='img-fluid shadow-{{ .Get "app_img_shadow" }}' alt='{{ .Get "app_img_alt" }}' width='{{ .Get "width" }}' height='{{ .Get "height" }}' />
  </div>
  <div class="col-md-8">
    {{ with .Get "app_name" }}
       <h3 class='mt-0'>{{ . }}</h3>
    {{ end }}
    {{ .Inner | markdownify }}
  </div>
</section>

